* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #e0e0e0;

    display: flex;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-height: 100vh;
}

nav {
    background-color: #1a1a1a;

    position: relative;

    padding: 16px;
}

.nav-items {
    display: flex;
    justify-content: center;

    gap: 80px;
}

.nav-items a {
    color: #e0e0e0;

    text-decoration: none;
    font-weight: 500;
}

.version-display {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-45%);

    color: #777;

    font-size: 14px;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px;
}

.hero-group {
    display: flex;

    width: 1000px;

    padding: 40px 0;
}

.hero-group:not(:first-child) {
    border-top: 2px solid #555;
}

.hero-key {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 240px;
}

.hero-key h2 {
    font-size: 64px;
}

.hero-list {
    font-size: 0;

    width: 760px;
}

.hero-list a {
    color: #e0e0e0;
    font-size: 18px;

    text-decoration: none;

    display: inline-block;

    background-color: #1a1a1a;
    border-radius: 6px;

    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.hero-list a:hover {
    background-color: #2a2a2a;
}
