* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #e0e0e0;

    display: flex;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-height: 100vh;
}

nav {
    background-color: #1a1a1a;

    display: flex;
    justify-content: center;

    padding: 16px 0;
    gap: 80px;
}

nav a {
    color: #e0e0e0;

    text-decoration: none;
    font-weight: 500;
}

main {
    display: flex;

    padding: 32px;
}

.hero-video {
    flex: 5;
    display: flex;
    justify-content: center;
}

video {
    max-height: 580px;

    border-radius: 6px;
    margin-top: 54px;
}

.hero-info {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.hero-title h1 {
    font-size: 48px;

    margin-top: 16px;
}

.hero-title p {
    font-size: 18px;
}

.hero-facet {
    max-width: 700px;

    padding: 20px 0;
}

.facet-group {
    display: flex;

    margin: 14px 0;
    gap: 14px;
}

.facet-group img {
    border: 2px solid #888;
}

.facet-group img.on {
    border: 2px solid #ccc;
}

.facet-text {
    color: #ccc;
    line-height: 1.5;
}

.ability-block {
    max-width: 700px;

    padding: 20px 0;
}

.ability-title {
    display: flex;
    align-items: center;

    margin-bottom: 14px;
    gap: 14px;
}

.ability-title img {
    width: 56px;
    height: 56px;

    border: 2px solid #888;
}

.ability-text {
    color: #ccc;
    line-height: 1.5;

    margin-bottom: 14px;
}

.ability-stats {
    line-height: 1.5;
}

.stat-group {
    padding: 8px 0;
}

.stat-row {
    display: flex;
    justify-content: space-between;
}

.stat-row span {
    color: #ddd;
    font-size: 18px;

    padding: 0 42px;
}

.ability-notes {
    color: #ccc;
    line-height: 1.5;
}

.ability-notes-toggle {
    display: flex;
    justify-content: center;
}

.ability-notes-toggle button {
    color: #e0e0e0;
    font-size: 16px;

    background: none;
    border: none;

    padding: 6px 200px;
}

.ability-notes-toggle button:hover {
    background-color: #1a1a1a;
}

.note-group {
    max-height: 0;
    opacity: 0;

    transition:
        max-height  0.3s,
        opacity     0.3s,
        padding     0.3s;
}

.note-group.visible {
    max-height: 1000px;
    opacity: 1;

    padding: 8px 0;
}

.note-group li {
    list-style-position: outside;

    margin: 4px 16px;
}

.ability-talent-table {
    margin-bottom: 18px;
}

.talent-row {
    display: flex;
}

.talent-item {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 300px;
    height: 60px;

    border-bottom: 1px solid #888;
}

.talent-level {
    display: flex;
    align-items: center;

    font-size: 22px;
    font-weight: 900;

    padding: 0 32px;
}
