* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: #e0e0e0;

    display: flex;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-height: 100vh;
}

nav {
    background-color: #1a1a1a;

    display: flex;
    justify-content: center;

    padding: 16px 0;
    gap: 80px;
}

nav a {
    color: #e0e0e0;

    text-decoration: none;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px;
}

.items-nav {
    font-size: 0;

    padding: 5px 0;
}

.items-nav a {
    color: #e0e0e0;
    font-size: 18px;

    text-decoration: none;

    display: inline-block;

    background-color: #1a1a1a;
    border-radius: 6px;

    padding: 10px 20px;
    margin: 0 10px;
}

.items-nav a:hover {
    background-color: #2a2a2a;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 40px;
    gap: 30px;
}

.item-box {
    width: 500px;

    background: #111;
    border-radius: 10px;

    padding: 20px;
}

.item-name {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
    gap: 12px;
}

.item-name img {
    border: 2px solid #888;
}

.item-stats {
    margin: 15px 0;
}

.stat-row {
    display: flex;
    justify-content: space-between;
}

.stat-row span {
    padding: 0 20px;
}

.item-text {
    background: #222;
    border-radius: 10px;

    padding: 15px 20px;
}

.item-text h3 {
    margin-bottom: 20px;
}

.item-text p {
    margin: 15px 0;
}

.item-build {
    display: flex;
    justify-content: center;

    background: #151515;
    border-radius: 10px;

    padding: 30px 0px;
    gap: 40px;
}

.item-build img {
    border-radius: 10px;
}
